<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StarFocusApp"
        tools:targetApi="31">
        <activity
            android:name=".Login"
            android:exported="true"
            android:theme="@style/Theme.StarFocusApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"/>
        <activity
            android:name=".NameMonster"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"/>
        <activity
            android:name=".ResetPassword"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"/>
        <activity android:name=".BottomNav"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"/>
        <activity android:name=".HistoryOne"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"/>
        <activity android:name=".HistoryTwo"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"/>
        <activity android:name=".HistoryThree"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"/>
        <activity android:name=".HistoryProgressOneVillain"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"/>
        <activity android:name=".HistoryProgressTwoWin"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"/>
        <activity android:name=".HistoryProgressThreeVillain"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"/>
        <activity android:name=".HistoryProgressFourWin"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"/>
        <activity
            android:name=".MiniGame"
            android:exported="true" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
